body {
    font-family: Arial, Helvetica, sans-serif;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    height: auto\9; /*ie8*/
}

img[hidden] {
    display: none;
}

button {
    font-size: 16px;
    padding: 10px 24px;
    border-radius: 10px;
    border: none;
    text-decoration: none;
}

button:hover {
    box-shadow:0 8px 16px 0 rgba(0,0,0,0.6)
}

#ButReussi {
    background-color: green;
    color: white;
}

#ButEchec {
    background-color: red;
    color: white;
}

#ButDebuter1 {
    background-color: rgb(89, 89, 205);
    color: rgb(240, 232, 232);
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

#ButDebuter2 {
    background-color: rgb(89, 89, 205);
    color: rgb(240, 232, 232);
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

#DivIntro{
    position: absolute;
    top: 25%;
    left: 25%;
    color: rgb(240, 232, 232);
    margin: auto;
    padding: 20px;
    background-color: rgb(77, 77, 90);
    border-radius: 15px;
    width: 50%;
}

#TitreIntro {
    text-align: center;
    font-size: 40px;    
}

#TexteIntro {
    text-align: center;
    font-size: 15px;
}

#refGitHub {
    color: rgb(34, 34, 248);
    text-decoration: none;
    font-weight: bold;
}
